html {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

nav h2 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0.5rem 0;
}

nav p {
    font-size: 0.75rem;
    margin: 0.5rem 0;
}

footer p, .frontpage footer p {
    font-size: 0.5625rem;
    font-style: italic;
}

.frontpage h1 {
    margin-bottom: 0.5rem;
}

.frontpage h2 {
    font-size: 1.5rem;
}

.frontpage p {
    font-size: 1rem;
    font-style: italic;
}