h2 {
    font-weight: normal;
    margin: 0.5rem 0 0 0;
}

p {
    margin: 0.5rem 0 1rem 0;
	margin-left: 20%;
	margin-right: 20%;
}

aside > p {
	font-size: 0.75rem;
	margin-left: 23%;
	margin-right: 20%;
}